* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #ff7a7a;
  color: #fff;
  background-image: url(./images/bg-intro-desktop.png);
  background-position: center;
  background-size: cover;
}
@media (max-width: 500px) {
  body {
    background-image: url("./images/bg-intro-mobile.png");
    background-position: center;
    background-size: cover;
    font-size: 14px;
    min-height: 100vh;
  }
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1150px) {
  .container {
    flex-direction: column;
    padding: 1rem 1.5rem;
    max-width: 327px;
    justify-content: inherit;
  }
}

header {
  align-self: center;
  width: 50%;
  max-width: 524px;
  min-width: 524px;
  padding: 1rem;
}
@media (max-width: 1150px) {
  header {
    width: 100%;
    min-width: auto;
    max-width: auto;
    margin-top: 5rem;
    text-align: center;
    padding: 0;
  }
}
header h1 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1.3rem;
}
@media (max-width: 1150px) {
  header h1 {
    font-size: 1.6rem;
  }
}
header p {
  font-size: 0.9rem;
}
@media (max-width: 1150px) {
  header p {
    margin-bottom: 4rem;
    line-height: 1.8;
  }
}

#form-container {
  align-self: center;
  min-width: 520px;
  max-width: 520px;
  padding: 1rem;
}
@media (max-width: 1150px) {
  #form-container {
    width: 100%;
    min-width: 327px;
    max-width: 327px;
    padding: 0;
  }
}
#form-container > div {
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: #6055a5;
  padding: 1rem;
  outline: none;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-bottom: 1.3rem;
  font-size: 0.8rem;
  text-align: center;
}
@media (max-width: 1150px) {
  #form-container > div {
    padding: 1.2rem 5rem;
    line-height: 1.8;
    font-size: 0.9rem;
  }
}
#form-container > div span {
  font-weight: 700;
}

form {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1150px) {
  form {
    padding: 1.5rem;
  }
}
form button {
  width: 100%;
  color: #fff;
  margin-bottom: 0.3rem;
  border: none;
  border-radius: 5px;
  background-color: #38cc8c;
  padding: 1.2rem;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
form button:hover {
  background-color: rgba(56, 204, 140, 0.8);
}
form > small {
  width: 100%;
  color: #b9b6d3;
  text-align: center;
  font-size: 10px;
  margin-top: 0.6rem;
  line-height: 2;
}
@media (max-width: 1150px) {
  form > small {
    max-width: 80%;
    margin: 0.6rem auto auto auto;
  }
}
form > small span {
  color: #ff7a7a;
  font-weight: 700;
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-field .input {
  position: relative;
  margin-bottom: 1rem;
}
.form-field .input input {
  padding: 1.2rem 1.5rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b9b6d3;
  color: #3e3c49;
}
.form-field .input input:focus {
  border: 1px solid #3e3c49;
}
.form-field .input input::placeholder {
  font-weight: 600;
}
.form-field .input input.error {
  border: 2px solid #ff7a7a;
}
.form-field .input img {
  position: absolute;
  right: 1.5rem;
  top: 25%;
  display: none;
}
.form-field .input img.error {
  display: block;
}
.form-field small {
  color: #ff7a7a;
  font-size: 11px;
  margin-top: -0.8rem;
  margin-bottom: 0.6rem;
  align-self: flex-end;
  font-style: italic;
  display: none;
}
.form-field small.error {
  display: block;
}

/*# sourceMappingURL=style.css.map */
