// Colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$gray-blue: hsl(246, 25%, 77%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: $red;
  color: #fff;
  background-image: url(./images/bg-intro-desktop.png);
  background-position: center;
  background-size: cover;

  @media (max-width: 500px) {
    background-image: url("./images/bg-intro-mobile.png");
    background-position: center;
    background-size: cover;
    font-size: 14px;
    min-height: 100vh;
  }
}

// Utilitles
.container {
  max-width: 1100px;
  min-height: 100vh;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1150px) {
    flex-direction: column;
    padding: 1rem 1.5rem;
    max-width: 327px;
    justify-content: inherit;
  }
}

header {
  align-self: center;
  width: 50%;
  max-width: 524px;
  min-width: 524px;
  padding: 1rem;

  @media (max-width: 1150px) {
    width: 100%;
    min-width: auto;
    max-width: auto;
    margin-top: 5rem;
    text-align: center;
    padding: 0;
  }

  h1 {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1.3rem;

    @media (max-width: 1150px) {
      font-size: 1.6rem;
    }
  }

  p {
    font-size: 0.9rem;
    @media (max-width: 1150px) {
      margin-bottom: 4rem;
      line-height: 1.8;
    }
  }
}

#form-container {
  align-self: center;
  min-width: 520px;
  max-width: 520px;
  padding: 1rem;

  @media (max-width: 1150px) {
    width: 100%;
    min-width: 327px;
    max-width: 327px;
    padding: 0;
  }

  & > div {
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: $blue;
    padding: 1rem;
    outline: none;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-bottom: 1.3rem;
    font-size: 0.8rem;
    text-align: center;

    @media (max-width: 1150px) {
      padding: 1.2rem 5rem;
      line-height: 1.8;
      font-size: 0.9rem;
    }

    span {
      font-weight: 700;
    }
  }
}

form {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);

  @media (max-width: 1150px) {
    padding: 1.5rem;
  }

  button {
    width: 100%;
    color: #fff;
    margin-bottom: 0.3rem;
    border: none;
    border-radius: 5px;
    background-color: $green;
    padding: 1.2rem;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;

    &:hover {
      background-color: rgba($green, 0.8);
    }
  }

  & > small {
    width: 100%;
    color: $gray-blue;
    text-align: center;
    font-size: 10px;
    margin-top: 0.6rem;
    line-height: 2;

    @media (max-width: 1150px) {
      max-width: 80%;
      margin: 0.6rem auto auto auto;
    }

    span {
      color: $red;
      font-weight: 700;
    }
  }
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;

  .input {
    position: relative;
    margin-bottom: 1rem;

    input {
      padding: 1.2rem 1.5rem;
      width: 100%;
      border-radius: 5px;
      border: 1px solid $gray-blue;
      color: $dark-blue;

      &:focus {
        border: 1px solid $dark-blue;
      }

      &::placeholder {
        font-weight: 600;
      }

      &.error {
        border: 2px solid $red;
      }
    }

    img {
      position: absolute;
      right: 1.5rem;
      top: 25%;
      display: none;

      &.error {
        display: block;
      }
    }
  }

  small {
    color: $red;
    font-size: 11px;
    margin-top: -0.8rem;
    margin-bottom: 0.6rem;
    align-self: flex-end;
    font-style: italic;
    display: none;

    &.error {
      display: block;
    }
  }
}
