$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$grey: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

.container {
  margin: auto;
  text-align: center;
  min-width: 600px;
  max-width: 600px;

  @media (max-width: 768px) {
    padding: 12.5px;
    min-width: 350px;
    max-width: 350px;
  }
}

#logo {
  margin: 5rem 0 2rem 0;
  width: 75px;

  @media (max-width: 768px) {
    width: 60px;
  }
}

#header-text {
  font-weight: 300;
  font-size: 2.6rem;
  color: $grey;
  letter-spacing: 1px;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }

  span {
    color: $very-dark-blue;
    font-weight: 700;
  }
}

h4 {
  font-weight: 300;
  color: $very-dark-blue;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

form {
  display: flex;
  margin-bottom: 5rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  #input-field {
    position: relative;

    @media (max-width: 768px) {
      position: static;
    }

    input {
      border-radius: 30px;
      padding: 0.9rem 1.8rem;
      border: 1px solid rgba($blue, 0.3);
      font-size: 1rem;
      margin-right: 1rem;
      width: 392px;
      font-size: 0.9rem;
      color: $very-dark-blue;

      @media (max-width: 768px) {
        width: 300px;
        margin-right: 0;
        margin-bottom: 0.3rem;
        padding: 0.8rem 1.8rem;
      }

      &::placeholder {
        color: rgba($blue, 0.3);
      }

      &.error {
        border: solid 1px $light-red;
      }
    }

    small {
      position: absolute;
      left: 1.8rem;
      top: 55px;
      font-size: 0.7rem;
      color: $light-red;
      font-style: italic;
      display: none;

      @media (max-width: 768px) {
        position: static;
        margin-bottom: 1rem;
      }

      &.error {
        display: block;
      }
    }
  }

  button {
    border-radius: 30px;
    background-color: $blue;
    color: #fff;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    padding: 0.9rem 1.8rem;
    width: 192px;
    cursor: pointer;
    -webkit-box-shadow: 0px 9px 20px -12px rgba($blue, 1);
    box-shadow: 0px 9px 20px -12px rgba($blue, 1);
    transition: all 0.2s;

    &:hover {
      background-color: rgba($blue, 0.8);
    }

    @media (max-width: 768px) {
      width: 300px;
      padding: 0.8rem 1.8rem;
      margin-top: 0.4rem;
      font-size: 0.9rem;

      &:hover {
        background-color: $blue;
      }
    }
  }
}

#illustration-dashboard {
  max-width: 600px;
  margin-bottom: 4rem;

  @media (max-width: 768px) {
    width: 100%;
  }
}

footer {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-bottom: 1rem;

    a {
      border: solid 1px rgba($grey, 0.3);
      border-radius: 50%;
      font-size: 0.8rem;
      margin-right: 0.8rem;
      width: 1.7rem;
      height: 1.7rem;
      line-height: 1.7rem;
      transition: all 0.2s;
      color: $blue;

      &:hover {
        border: solid 1px $blue;
        background-color: $blue;
        color: #fff;
      }

      @media (max-width: 768px) {
        width: 2.2rem;
        height: 2.2rem;
        line-height: 2.2rem;
        font-size: 1rem;

        &:hover {
          border: solid 1px rgba($grey, 0.3);
          background-color: #fff;
          color: $blue;
        }
      }
    }

    small {
      font-size: 0.7rem;
      color: $grey;
    }
  }
}
